        /* ###navbar### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#navbar-nav{
       padding-left: 55%;

}

#nav-item a{
padding: 15px;
font-weight: bold;

    
}
#nav-item a:hover{
    background-color:#6e8579 ;
    border: 1px solid gray;
    border-radius: 5px;
    color: #fff;
   
    
}
#nav_logo{
    width: 100%;
    height: 50%;
}
.container{
    min-height: 70vh;
    width: 100%;
    
    /* background-color: aquamarine; */
}


      /* ###flax box### */


      .leftside {
        margin-top: 6%;
        
    }
      .rightside {
        background: #006999;
      }
      .leftside, .rightside {
        color: black;
        padding: 2%;
        text-align: left;
      }
      
      @media ( min-width : 600px ){
        body {
          /* background: linear-gradient(90deg, #000599 50%, #006999 50%); */
        }
          .flexbox {
          width: 100%;
          margin: 0 auto;
          display: -webkit-flex;
          display: flex;
          margin-bottom: 7%;
          }
        .leftside,
        .rightside {
          -webkit-flex: 1;
          flex: 1;
          background: none;
        }
      }

      #pic_models{
        width: 100%;
        
      }
      #button{
        width: 120px;
        height: 30px;
        color: #fff;
        background-color: #6e8579;
        border-radius: 3px;
        border: none;
        font-weight: bold;
        font-size: large;
      }


         /* ###cards### */



#cards{
    width: 100%;
    min-height: 50vh;
    display: flow-root;
    padding-bottom: 5%;
   
    /* justify-content: center;
    align-items: center;
     */

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1519 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
  color: #9e9e9e;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1519 *,
.snip1519 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1519 figcaption {
  padding: 12% 10% 14%;
}
.snip1519:hover{
  box-shadow: 2px 2px 10px gray;
}





/* Demo purposes only */

body {
  background-color: #212121;
  padding: 0 5px;
}








    /* ____footer__part__ */



    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

    * {
      font-family: Open Sans;
    }
    
    section {
      width: 100%;
      display: inline-block;
      background: #333;
      height: 50vh;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      text-decoration: underline;
    }
    
    .footer-distributed{
        background: rgb(0, 0, 0);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 55px 50px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
        width: 40%;
    }
    
    /* The company logo */
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Open Sans', cursive;
        margin: 0;
    }
    
    .footer-distributed h3 span{
        color:  lightseagreen;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
      font-weight:400;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #222;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
      font-weight:400;
        vertical-align: middle;
        margin:0;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  lightseagreen;
        text-decoration: none;;
    }
    
    .footer-distributed .footer-links a:before {
      content: "|";
      font-weight:300;
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
      content: none;
    }
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
        width: 20%;
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    /* If you don't want the footer to be responsive, remove these media queries */
    
    @media (max-width: 880px) {
    
        .footer-distributed{
            font: bold 14px sans-serif;
        }
    
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
    
        .footer-distributed .footer-center i{
            margin-left: 0;
        }
    
    }
    .logo{
      height: 10vh;
      width: 10vh;
    }

    .footer{
        width: 100%;
        min-height:40vh;
    }
    



    /* ____whatsapp_____ */

    a{
        text-decoration:none;
      }
      .floating_btn {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        z-index: 1000;
      }
      
      @keyframes pulsing {
        to {
          box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
        }
      }
      
      .contact_icon {
        background-color: #42db87;
        color: #fff;
        width: 60px;
        height: 60px;
        font-size:30px;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translatey(0px);
        animation: pulse 1.5s infinite;
        box-shadow: 0 0 0 0 #42db87;
        -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        font-weight: normal;
        font-family: sans-serif;
        text-decoration: none !important;
        transition: all 300ms ease-in-out;
      }
      
      
      .text_icon {
        margin-top: 8px;
        color: #707070;
        font-size: 13px;
      }